# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/assets/images/originals
src/assets/images/rose-pine-light.png
src/assets/images/rose-pine-dark.jpg
src/assets/images/kanagawa-light.jpg
src/assets/images/kanagawa-dark.png
src/assets/images/catppuccin-light.jpg
src/assets/images/catppuccin-dark.png
