@use "sass:map";

$github: (
  dark: (
    default: (
      main: #0d1117,
      // bg
      surface: #161b22,
      // surface
      overlay: #21262d,
      // muted-surface
      muted: #8b949e,
      // text-muted
      subtle: #30363d,
      // border
      text: #c9d1d9,
      // text
      "highlight-low": rgba(88, 166, 255, 0.4),
      // focus-ring
      "highlight-med": #79c0ff,
      // primary-hover
      "highlight-high": #58a6ff,
      // primary
    ),
  ),
  light: (
    default: (
      main: #ffffff,
      // bg
      surface: #f6f8fa,
      // surface
      overlay: #e1e4e8,
      // muted-surface
      muted: #57606a,
      // text-muted
      subtle: #e1e4e8,
      // border
      text: #24292f,
      // text
      "highlight-low": rgba(3, 102, 214, 0.3),
      // focus-ring
      "highlight-med": #218bff,
      // primary-hover
      "highlight-high": #0969da,
      // primary
    ),
  ),
) !default;
