@use "sass:map";

$rose-pine: (
  dark: (
    default: (
      main: #191724,
      surface: #1f1d2e,
      overlay: #26233a,
      muted: #6e6a86,
      subtle: #908caa,
      text: #e0def4,
      "highlight-low": #21202e,
      "highlight-med": #403d52,
      "highlight-high": #524f67,
    ),
    red: (
      1: #1e1718,
      2: #22191b,
      3: #3a1a23,
      4: #4c1a29,
      5: #5a2132,
      6: #692c3e,
      7: #813b4f,
      8: #a94d67,
      9: #eb6f92,
      10: #de6387,
      11: #ff92af,
      12: #fcd4dc,

      a1: #ee180006,
      a2: #ff4b000a,
      a3: #fd2c1e25,
      a4: #fe253b39,
      a5: #fd3a5549,
      a6: #ff546f59,
      a7: #fd668274,
      a8: #ff6d8fa0,
      a9: #ff779de9,
      a10: #fe7097db,
      a11: #ff92af,
      a12: #ffd7dffc,

      contrast: #fff,
      surface: #2b1b1380,
      indicator: #eb6f92,
      track: #eb6f92,
    ),
    yellow: (
      1: #1b1915,
      2: #221e1a,
      3: #2f261b,
      4: #3c2d19,
      5: #47351a,
      6: #544023,
      7: #664f2f,
      8: #81643c,
      10: #ebb76d,
      12: #fae3c4,

      a1: #c3c10003,
      a2: #ffca000a,
      a3: #f9b00019,
      a4: #fea70027,
      a5: #ffad0033,
      a6: #fdb62142,
      a7: #fdbe4556,
      a8: #fdc05974,
      a9: #fec77af6,
      a10: #ffc674e9,
      a11: #ffc779f1,
      a12: #ffe8c7fa,

      contrast: #2d1f0a,
      surface: #2b251180,
      indicator: #f6c177,
      track: #f6c177,
    ),
    pink: (
      1: #1b1818,
      2: #211d1d,
      3: #2f2424,
      4: #3b2a29,
      5: #453231,
      6: #523c3b,
      7: #654b4a,
      8: #81605f,
      9: #ebbcba,
      10: #e0b2b0,
      11: #dcaeac,
      12: #eedcdb,

      a1: #c36c0003,
      a2: #fcc20009,
      a3: #f99c2519,
      a4: #fe964626,
      a5: #fea36831,
      a6: #fdab8040,
      a7: #fdb39655,
      a8: #fdb7a574,
      a9: #ffccc8e9,
      a10: #ffcac5dd,
      a11: #fec9c4d9,
      a12: #feebe8ed,

      contrast: #321919,
      surface: #29231780,
      indicator: #ebbcba,
      track: #ebbcba,
    ),
    green: (
      1: #121a1e,
      2: #151f23,
      3: #152d37,
      4: #143948,
      5: #1a4556,
      6: #255367,
      7: #30667c,
      8: #3b7d98,
      9: #31748f,
      10: #2f657b,
      11: #82c5e2,
      12: #c8eafb,

      a1: #00d70004,
      a2: #00fa0809,
      a3: #00f8e619,
      a4: #00e6ff2a,
      a5: #1edefc3b,
      a6: #40d9fd4f,
      a7: #52dbfe67,
      a8: #59d6fe88,
      a9: #4ad5ff7d,
      a10: #50dafd66,
      a11: #92dffede,
      a12: #cbeefefb,

      contrast: #fff,
      surface: #12272380,
      indicator: #31748f,
      track: #31748f,
    ),
    cyan: (
      1: #121b1c,
      2: #152022,
      3: #172e32,
      4: #1b3b40,
      5: #23484e,
      6: #2d575e,
      7: #386971,
      8: #447e88,
      9: #9ccfd8,
      10: #92c4cd,
      11: #93c6ce,
      12: #d4eff4,

      a1: #00e40005,
      a2: #00fd000a,
      a3: #06f9ae1a,
      a4: #26fdd728,
      a5: #49ffeb36,
      a6: #61fdf547,
      a7: #70fdfc5b,
      a8: #76f8fe75,
      a9: #b9f7ffd2,
      a10: #b5f7ffc5,
      a11: #b6f9ffc6,
      a12: #ddfafef3,

      contrast: #04272c,
      surface: #12292180,
      indicator: #9ccfd8,
      track: #9ccfd8,
    ),
    magenta: (
      1: #1b1720,
      2: #1f1a25,
      3: #2f233b,
      4: #3a294d,
      5: #433157,
      6: #4e3b64,
      7: #5e4976,
      8: #745a92,
      9: #c4a7e7,
      10: #b99cdc,
      11: #c5a8e8,
      12: #e6ddf3,

      a1: #c3170003,
      a2: #f4854907,
      a3: #e988fe1b,
      a4: #c977fe30,
      a5: #cc85fc3c,
      a6: #cd92fe4b,
      a7: #d09cfe60,
      a8: #cd9cfe81,
      a9: #d8b9fee4,
      a10: #d7b4fed7,
      a11: #d8b9fee5,
      a12: #f1e8fef2,

      contrast: #fff,
      surface: #251d2680,
      indicator: #c4a7e7,
      track: #c4a7e7,
    ),
  ),
  light: (
    default: (
      main: #faf4ed,
      surface: #fffaf3,
      overlay: #f2e9e1,
      muted: #9893a5,
      subtle: #797593,
      text: #575279,
      "highlight-low": #f4ede8,
      "highlight-med": #dfdad9,
      "highlight-high": #cecacd,
    ),
    red: (
      1: #f3f2f2,
      2: #f1eced,
      3: #ece0e2,
      4: #e8d4d8,
      5: #e2c7cd,
      6: #dab8c0,
      7: #d0a6b0,
      8: #c28d9a,
      9: #b4637a,
      10: #a6566e,
      11: #8d4259,
      12: #4d2b34,

      a1: #e1edff47,
      a2: #1528ed0a,
      a3: #51026815,
      a4: #73045022,
      a5: #7b054430,
      a6: #7902373f,
      a7: #77013052,
      a8: #7601296c,
      a9: #85002c98,
      a10: #79022aa6,
      a11: #650224bb,
      a12: #29010dd3,

      contrast: #fff,
      surface: #efeaeecc,
      indicator: #b4637a,
      track: #b4637a,
    ),
    yellow: (
      1: #f3f2f0,
      2: #f9ecde,
      3: #ffe1b9,
      4: #ffd290,
      5: #ffc46e,
      6: #fcb967,
      7: #e9a755,
      8: #da8e1d,
      9: #ea9d34,
      10: #de9224,
      11: #9b5900,
      12: #4d3518,

      a1: #d1e9ff2b,
      a2: #eb7c0c11,
      a3: #ffe1b9,
      a4: #ffd290,
      a5: #ffc46e,
      a6: #ff610066,
      a7: #e07d00a4,
      a8: #d68000e0,
      a9: #e68501c8,
      a10: #d98101d9,
      a11: #9b5900,
      a12: #3a2001e6,

      contrast: #fff,
      surface: #f9eadbcc,
      indicator: #ea9d34,
      track: #ea9d34,
    ),
    pink: (
      1: #f4f1f1,
      2: #f3ecec,
      3: #f1dfde,
      4: #f5cfcd,
      5: #f2c0bd,
      6: #ebb0ac,
      7: #e19c98,
      8: #d7827e,
      9: #d7827e,
      10: #ca7773,
      11: #9b4c4a,
      12: #5e2322,

      a1: #e0e7ff39,
      a2: #3412d109,
      a3: #92013f16,
      a4: #da031c27,
      a5: #d5030f37,
      a6: #c5040748,
      a7: #b501025c,
      a8: #b0020278,
      a9: #b0020278,
      a10: #9d020284,
      a11: #710001b0,
      a12: #450101db,

      contrast: #fff,
      surface: #f1eaeccc,
      indicator: #d7827e,
      track: #d7827e,
    ),
    green: (
      1: #eff2f4,
      2: #e8eef1,
      3: #dae8ee,
      4: #cbe0ea,
      5: #bcd7e3,
      6: #aaccdb,
      7: #93bdd0,
      8: #70a8c1,
      9: #286983,
      10: #165a74,
      11: #21637d,
      12: #183643,

      a1: #deefff64,
      a2: #aadaff39,
      a3: #0028fe0f,
      a4: #018ade30,
      a5: #0381c540,
      a6: #0177b552,
      a7: #036fa86a,
      a8: #006b9e8d,
      a9: #015070d7,
      a10: #004c69e9,
      a11: #014d6cde,
      a12: #002232e7,

      contrast: #fff,
      surface: #e4edf3cc,
      indicator: #286983,
      track: #286983,
    ),
    cyan: (
      1: #eff2f3,
      2: #e8eeef,
      3: #d8e8ea,
      4: #c9e0e4,
      5: #bad8dd,
      6: #aacdd4,
      7: #93c0c8,
      8: #70acb7,
      9: #56949f,
      10: #498792,
      11: #276771,
      12: #163035,

      a1: #d9eeff55,
      a2: #5cc0ff1d,
      a3: #039cd823,
      a4: #018ebf32,
      a5: #0388af42,
      a6: #017aa052,
      a7: #0377946a,
      a8: #00728c8d,
      a9: #026377a8,
      a10: #005a6db5,
      a11: #014e5bd8,
      a12: #001e24e9,

      contrast: #fff,
      surface: #e4edf0cc,
      indicator: #56949f,
      track: #56949f,
    ),
    magenta: (
      1: #f2f1f3,
      2: #efedf1,
      3: #e6e2eb,
      4: #ded8e6,
      5: #d7cfe2,
      6: #cfc5dc,
      7: #c4b7d3,
      8: #b1a0c6,
      9: #907aa9,
      10: #836e9b,
      11: #604e74,
      12: #281d34,

      a1: #e2ebff55,
      a2: #c9d5ff39,
      a3: #081ad515,
      a4: #0c07b21e,
      a5: #1603a627,
      a6: #1f059632,
      a7: #23018540,
      a8: #27017c58,
      a9: #26006680,
      a10: #2302598d,
      a11: #19003cae,
      a12: #0c001be1,

      contrast: #fff,
      surface: #edecf3cc,
      indicator: #907aa9,
      track: #907aa9,
    ),
  ),
) !default;
