@use "scss-reset";
@use "./styles/themes.scss";
@use "./styles/typography.scss";
@use "./styles/nerd-font-symbols";

html,
body,
#root {
  background-color: var(--bgColor-default);
  color: var(--fgColor-default);
}

select {
  background-color: var(--bgColor-default);
  color: var(--fgColor-default);
  line-height: 1.2;
}

option:hover {
  background-color: var(--fgColor-accent);
}
